{% include header.html %}

  <div id="article">
   
   <div class="article-header">
   <div class="article-title">{{ page.title }}</div>
   <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> {{ page.when }} &nbsp;&nbsp; {{ page.category | capitalize }}</small></p></div>

    <br/>

     <div class="projectSidebar">
     <ul>
     
     {% for technology in page.technologies %}
      {% if forloop.index == 1 %}<li><i class="fa fa-cog"></i>&nbsp;Technologies:{% endif %}
     {{ technology }}{% if forloop.index != forloop.length %}, 
                     {% endif %}
      {% endfor %}
    </li>
    
      {% for collaborator in page.collaborators %}
        {% if forloop.index == 1 %}<li><i class="fa fa-user"></i>&nbsp;Collaborators:{% endif %}
        {{ collaborator }}{% if forloop.index != forloop.length %},
                          {% endif %}
      {% endfor %}
    </li>

      {% for sourcecode in page.sourcecode %}
        {% if forloop.index == 1 %}<li><i class="fa fa-github-square"></i>&nbsp;Source Code:{% endif %}
        <a href="{{ sourcecode[1] }}">{{ sourcecode[0] }}</a>{% if forloop.index != forloop.length %},
        {% endif %}
      {% endfor %}

      {% if page.sale %}
        <i class="fa fa-money"></i>&nbsp;<a href="{{ page.sale }}">For Sale Here</a>
      {% endif %}
  </ul>

   </div>

   <hr/>

   <div class="postImages">
    {% for image in page.images %}

      <a href="{{ site.baseurl }}/images/{{ page.img }}/big/{{ image }}" data-lightbox="image-1" data-title="{{ page.title }} Image {{ forloop.index }}">

      <img src="{{ site.baseurl }}/images/{{ page.img }}/thumb/{{ image }}"/>

    </a>
    {% endfor %}
   </div>

  <br/>
  <br/>

   <div class="post">
    <div class="postTest">
     {{ content }}
   </div>
   </div>
 </div>



 {% include footer.html %}
